.cust{
    padding-bottom: 25px;
}
.Upload{
    width: 400px;
    height: 650px;
}
label{
    display: block;
    width: 200px;
    background: #DCC56E;
    color: black;
    padding: 12px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
input{
    display: none;
}
.Purple-text{
    color: #4B072D;
}
.Customize{
    padding-left: 390px;
    padding-bottom: 20px;
}
.bg{
    background-color: #FFF0F9;
}
.update-btn{
    margin-left: 95px;
}
.Customize-img{
    padding-left: 300px;
    padding-bottom: 30px;
}
.trans{
    background-color: transparent;
    border-radius: 10px;
    border: 2px #DCC56E solid;
}