* {
     font-family: 'Stoke', serif;
}
.logo {
     height: 13rem;
     width: 13rem;
}
.ms-5 {
     margin-left: 3em !important;
}
.landing-img {
     
}
.Collectionsrow {
     padding-bottom: 30px;
}
.Collectionscol {
     padding-left: 15px;
     padding-right: 15px;
}
.Collections {
     padding-left: 60px;
     padding-right: 60px;
}
.CollectionsImg {
     height: 390px;
     width: 390px;
}
.CollectionsImgL {
     height: 460px;
     width: 390px;
}