* {
     font-family: 'Stoke', serif;

}
.logo {
     height: auto;
     width: clamp(5em, 8vw, 20em);
}
.line {
     width: 100%;
     border-bottom: 3px #4B072D solid;
     padding: 0 10px;
}
.ms-5 {
     margin-left: 3em !important;
}
.categories > img {
     border-radius: 100%;
     height: 313px;
     width: 313px;
     object-fit: cover;
}
.Collectionsrow {
     padding-bottom: 30px;
}
.Collectionscol {
     padding-left: 15px;
     padding-right: 15px;
}
.Collections {
     padding-left: 1rem;
     padding-right: 1rem;
     padding-bottom: 50px;
}
.CollectionsImg {
     height: auto;
     width: 100%;
     min-width: 70px;
     min-height: 70px;
     outline: 1.5px solid #DCC56E;
     border-radius: 3%;
}
.CollectionsImgL {
     height: auto;
     width: 100%;
     min-width: 70px;
     min-height: 90px;
     outline: 1.5px solid #DCC56E;
     border-radius: 3%;
}
.collect {
     padding-left: 135px;
     padding-bottom: 40px;
}
.About-head{
     padding-left: 125px;
     padding-bottom: 40px;
}
.circle {
     border-radius: 330px;
     height: auto;
     width: 375px;
     margin-left: 15px;
     aspect-ratio: 1 / 1;
}
.Kiesha {
     padding-top: 2 rem;
}
.aboutP {
     line-height: 1.6;
     -webkit-text-stroke-color: none;
     -webkit-text-stroke-width: 0;
     font-size: clamp(.75rem, 2.5vw, 3rem);
     min-height: 350px;
     max-height: 375px;

}
.about {
     padding-bottom:3rem;
     padding-top: 75px;
}
.about-bg{
     padding-top: 40px;
     background-color: #4B072D;
     color: #FFEFF8;
     -webkit-text-stroke-color: black;
     -webkit-text-stroke-width: .5px;
}
.bg{
     background-color: #FFF0F9;
}
.footer {
     background-color: #E5CBDB;
     padding-left: 1px;
}
.footer-list {
     list-style-type: none;
}
.socials li {
     list-style-type: none;
     display: inline;
}

.clear-text{
     color: #FFEFF8;
     -webkit-text-stroke-color: #4B072D;
     -webkit-text-stroke-width: 1.5px;
}
.Purple-text{
     color: #4B072D;
}
.nav-item {
     font-size: clamp(1.25rem, 2.5vw, 2rem);
}

.brown{
     font-size: clamp(1.5rem, 2.5vw, 4rem);
}
.footerhead{
     font-size: clamp(.85rem, 2.5vw, 2.9rem);
}
.footerp{
     font-size: clamp(.5rem, 2.5vw, 1.75rem);
}
.socials{
     padding-left: 0;
}
.footerlogo{
     height: 100%;
     width: clamp(30px, 4vw, 400px);
}
.Category{
     padding-left: 1rem;
     font-size: clamp(1.5rem, 2.5vw, 4rem);
}